{% extends 'base.html' %}

{% block title %}Home — ShopNow{% endblock %}

{% block content %}

<!-- HERO SECTION -->
<section class="hero">
    <h1>Discover Amazing Products</h1>
    <p>Shop the latest trends with the best prices</p>
    <div class="hero-buttons">
        <a href="{% url 'product_list' %}" class="btn-white">Shop Now</a>
        <a href="#categories" class="btn-outline">Browse Categories</a>
    </div>
</section>

<!-- FEATURED PRODUCTS — will be dynamic in Week 2 -->
<section class="section">
    <h2 class="section-title">Featured Products</h2>
    <p class="section-subtitle">Handpicked just for you</p>
    <div class="product-grid">

        {% for product in products %}
<a href="{% url 'product_detail' product.id %}" class="product-card">
    <div class="product-image">No Image Yet</div>
    <div class="product-info">
        <p class="product-category">{{ product.category }}</p>
        <p class="product-name">{{ product.name }}</p>
        <p class="product-price">Rs. {{ product.price }}</p>
    </div>
</a>
{% endfor %}

    </div>
</section>

<!-- CATEGORIES SECTION -->
<section class="section" id="categories" style="background: #f8fafc; max-width: 100%; padding: 60px 40px;">
    <div style="max-width: 1200px; margin: 0 auto;">
        <h2 class="section-title">Shop by Category</h2>
        <p class="section-subtitle">Find what you're looking for</p>
        <div class="categories-grid">
            <a href="{% url 'product_list' %}?q=electronics" class="category-card">
    <div class="category-icon">📱</div>
    <p class="category-name">Electronics</p>
</a>
<a href="{% url 'product_list' %}?q=fashion" class="category-card">
    <div class="category-icon">👗</div>
    <p class="category-name">Fashion</p>
</a>
<a href="{% url 'product_list' %}?q=home" class="category-card">
    <div class="category-icon">🏠</div>
    <p class="category-name">Home & Living</p>
</a>
<a href="{% url 'product_list' %}?q=sports" class="category-card">
    <div class="category-icon">⚽</div>
    <p class="category-name">Sports</p>
</a>
<a href="{% url 'product_list' %}?q=books" class="category-card">
    <div class="category-icon">📚</div>
    <p class="category-name">Books</p>
</a>
        </div>
    </div>
</section>

{% endblock %}