{% extends 'base.html' %}

{% block title %}Products — ShopNow{% endblock %}

{% block content %}


<!-- PAGE HEADER WITH SEARCH -->
<div class="page-header">
    <h1>All Products</h1>
    <!-- Search form — submits to same page with ?q= parameter -->
    <form class="search-form" method="GET" action="{% url 'product_list' %}">
        <input
            type="text"
            name="q"
            class="search-input"
            placeholder="Search products..."
            value="{{ request.GET.q }}"
        >
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>

<div class="products-container">

    {% if query %}
<p class="results-info">Results for: "{{ query }}" — {{ products|length }} found</p>
{% else %}
<p class="results-info">Showing all {{ products|length }} products</p>
{% endif %}

    <!-- PRODUCT GRID — static for now, Week 2 makes it dynamic -->
    {% if products %}
<div class="product-grid">
    {% for product in products %}
    <a href="{% url 'product_detail' product.id %}" class="product-card">
        <div class="product-image">No Image Yet</div>
        <div class="product-info">
            <p class="product-category">{{ product.category }}</p>
            <p class="product-name">{{ product.name }}</p>
            <p class="product-price">Rs. {{ product.price }}</p>
            {% if product.stock > 0 %}
            <span class="stock-badge in-stock">In Stock</span>
            {% else %}
            <span class="stock-badge out-of-stock">Out of Stock</span>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="empty-state">
    <h3>No products found</h3>
    <p>Try searching for something else</p>
</div>
{% endif %}
</div>

{% endblock %}